@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;400;700&display=swap');

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    background-color: hsl(212, 45%, 89%);
}


body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 1px);
}

#container {
   
    width: 350px;
    min-height: 400px;
    background-color: hsl(0, 0%, 100%);
    font-family: 'Outfit', sans-serif;
    border-radius: 20px;
    box-shadow: 5px 5px 5px rgb(0, 0, 0, 0.3);
}

.image {
    width: 100%;
    border-radius: 20px;
}

.content {
    padding: 10px;
    background-color: hsl(0, 0%, 100%);
    border-radius: 20px;
}

p {
    margin: 10px;
    font-size: 16px;
    background-color: initial;
    color: hsl(218, 44%, 22%);
    text-align: center;
}

h1 {
    margin: 10px;
    background-color: initial;
    color:  hsl(218, 44%, 22%);
    text-align: center;
}

.attribution {
 margin-top: 20px;
}
